.imgrotate {
    transition: 1.40s;
    -webkit-transition: 1.40s;
    -moz-transition: 1.40s;
    -ms-transition: 1.40s;
    -o-transition: 1.40s;
}
  
.imgrotate:hover {
    transition: 1.40s;
    -webkit-transition: 1.40s;
    -moz-transition: 1.40s;
    -ms-transition: 1.40s;
    -o-transition: 1.40s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.listarrow{
    list-style-type: none;
}

.listarrow li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-image: url("../asset/images/arrow.png");
    background-size: contain;
    background-position: center center;
}

li {
    background-size: 20px;
}



.weave {
    background-image: linear-gradient(181deg, #40128B 0%, #40128B 50%, transparent 54%, transparent 100%);
}

span {
    background-size:  100% 20%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 10%;
}

